body {
  height: 100%;
}

.provision-table {
  border-collapse: collapse;
  margin: 0 0;
  font-size: 0.9rem;
  font-family: sans-serif;
  width: 200%;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
 
.provision-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  height: 30px;
}

.provision-table th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
  font-size: 0.8rem;
  /* min-width: 20%;
  max-width: 20%; */
  position: sticky;
  top: 0px;
  background-color: #34343b !important;
}

.provision-table td {
    padding: 4px 10px;
    border: 1px solid #dddddd;
    font-size: 0.7rem;
}

/* 번호 */
.provision-table td:nth-child(1) {
  width: 50px;
}
/* 부서명 */
.provision-table td:nth-child(2) {
  width: 100px;
}
/* 코트트센터CD */
.provision-table td:nth-child(3) {
  width: 100px;
}
/* 실명 */
.provision-table td:nth-child(4) {
  width: 100px;
}
/* 센터 */
.provision-table td:nth-child(5) {
  width: 80px;
}
/* 본부 */
.provision-table td:nth-child(6) {
  width: 80px;
}
/* 전산담당자 */
.provision-table td:nth-child(7) {
  width: 60px;
}
/* 사번 */
.provision-table td:nth-child(8) {
  width: 40px;
}
/* 자산번호 */
.provision-table td:nth-child(9) {
  width: 50px;
}
/* 자산관리번호 */
.provision-table td:nth-child(10) {
  width: 75px;
}

/* S/N */
.provision-table td:nth-child(11) {
  width: 40px;
}
/* 담당자 */
.provision-table td:nth-child(12) {
  width: 50px;
}
/* 사번 */
.provision-table td:nth-child(13) {
  width: 40px;
}
/* 설치지역 */
.provision-table td:nth-child(14) {
  width: 50px;
}
/* 설치장소 */
.provision-table td:nth-child(15) {
  width: 80px;
}
/* 모델명 */
.provision-table td:nth-child(16) {
  width: 50px;
}
/* 대여기간 */
.provision-table td:nth-child(17) {
  width: 40px;
}
/* 지급사유 */
.provision-table td:nth-child(18) {
  width: 45px;
}
/* 입사일 */
.provision-table td:nth-child(19) {
  width: 40px;
}
/* 신청일 */
.provision-table td:nth-child(20) {
  width: 40px;
}
/* 지급일자 */
.provision-table td:nth-child(21) {
  width: 40px;
}
/* 비고 */
.provision-table td:nth-child(22) {
  width: 130px;
}

.provision-table tbody tr {
  border-bottom: 1px solid #dddddd;
  height: 23px;
}

.provision-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.provision-table tbody tr:hover {
  cursor: pointer;
  background-color: lightgoldenrodyellow;
}

.provision-table tbody tr:last-of-type {
  border-bottom: 2px solid #34343b;
}

.provision-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}