body {
  height: 100%;
}

.return-table {
  border-collapse: collapse;
  margin: 0 0;
  font-size: 0.9rem;
  font-family: sans-serif;
  width: 100%;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
 
.return-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  height: 30px;
}

.return-table th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
  font-size: 0.7rem;
  /* min-width: 20%;
  max-width: 20%; */
  position: sticky;
  top: 0px;
  background-color: #009879 !important;
}

.return-table td {
    padding: 4px 10px;
    border: 1px solid #dddddd;
    font-size: 0.6rem;
}

/* 번호 */
.return-table td:nth-child(1) {
  width: 30px;
}
/* 인계팀 */
.return-table td:nth-child(2) {
  width: 90px;
}
/* 인계자 */
.return-table td:nth-child(3) {
  width: 50px;
}
/* 인계자 사번 */
.return-table td:nth-child(4) {
  width: 70px;
}
/* 인수팀 */
.return-table td:nth-child(5) {
  width: 90px;
}
/* 담당자 */
.return-table td:nth-child(6) {
  width: 50px;
}
/* 자산번호 */
.return-table td:nth-child(7) {
  width: 50px;
}
/* 자산관리번호 */
.return-table td:nth-child(8) {
  width: 80px;
}
/* S/N */
.return-table td:nth-child(9) {
  width: 30px;
}
/* 모델명 */
.return-table td:nth-child(10) {
  width: 40px;
}
/* 현재위치 */
.return-table td:nth-child(11) { 
  width: 70px;
}
/* 반납사유 */
.return-table td:nth-child(12) {
  width: 55px;
}
/* 비고 */
.return-table td:nth-child(13) {
  width: 100px;
}
/* 퇴직일 */
.return-table td:nth-child(14) {
  width: 70px;
}
/* 반납일자 */
.return-table td:nth-child(15) {
  width: 70px;
}

.return-table tbody tr {
  border-bottom: 1px solid #dddddd;
  height: 23px;
}

.return-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.return-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.return-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.btnPage {
  width: 5em;
  height: 2em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  background-color: rgba(255, 0, 140, 0.884);
  color: white;
  border: none;
  margin: 0 2px;
  transition: background-color 0.1s ease;
}

.btnPage:hover {
  background-color: rgb(240, 10, 117);
}

.btnPage:active {
  background-color: rgba(221, 34, 181, 0.473);
  transform: translateY(2px);
}

.btnPageSE {
  width: 2em;
  height: 2em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  background-color: rgba(255, 0, 140, 0.884);
  color: white;
  border: none;
  margin: 0 5px;
  transition: background-color 0.1s ease;
}

.btnPageSE:hover {
  background-color: rgb(240, 10, 117);
}

.btnPageSE:active {
  background-color: rgba(221, 34, 181, 0.473);
  transform: translateY(2px);
}