body {
  height: 100%;
}

.return-table {
  border-collapse: collapse;
  margin: 0 0;
  font-size: 0.9rem;
  font-family: sans-serif;
  width: 100%;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
 
.return-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  height: 30px;
}

.return-table th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
  font-size: 0.8rem;
  /* min-width: 20%;
  max-width: 20%; */
  position: sticky;
  top: 0px;
  background-color: #34343b !important;
}

.return-table td {
    padding: 4px 10px;
    border: 1px solid #dddddd;
    font-size: 0.7rem;
}

/* 번호 */
.return-table td:nth-child(1) {
  width: 40px;
}
/* 본부 */
.return-table td:nth-child(2) {
  width: 100px;
}
/* 인계팀 */
.return-table td:nth-child(3) {
  width: 100px;
}
/* 인계자 */
.return-table td:nth-child(4) {
  width: 50px;
}
/* 인계자 사번 */
.return-table td:nth-child(5) {
  width: 40px;
}
/* 인수팀 */
.return-table td:nth-child(6) {
  width: 100px;
}
/* 담당자 */
.return-table td:nth-child(7) {
  width: 50px;
}
/* 자산번호 */
.return-table td:nth-child(8) {
  width: 30px;
}
/* 자산관리번호 */
.return-table td:nth-child(9) {
  width: 30px;
}
/* S/N */
.return-table td:nth-child(10) {
  width: 40px;
}
/* 모델명 */
.return-table td:nth-child(11) {
  width: 40px;
}
/* 지역 */
.return-table td:nth-child(12) {
  width: 40px;
}
/* 현재위치 */
.return-table td:nth-child(13) { 
  width: 70px;
}
/* 반납사유 */
.return-table td:nth-child(14) {
  width: 55px;
}
/* 비고 */
.return-table td:nth-child(15) {
  width: 140px;
}
/* 퇴직일 */
.return-table td:nth-child(16) {
  width: 60px;
}
/* 반납일자 */
.return-table td:nth-child(17) {
  width: 60px;
}

.return-table tbody tr {
  border-bottom: 1px solid #dddddd;
  height: 23px;
}

.return-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.return-table tbody tr:hover {
  cursor: pointer;
  background-color: lightgoldenrodyellow;
}

.return-table tbody tr:last-of-type {
  border-bottom: 2px solid #34343b;
}

.return-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}