body {
    padding-top: 50px;
}
.menu {
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: #8f4288;
}

.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    margin: 0 100px;
}

.menu-link {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.menu-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    /* 밑줄이 메뉴 아래로 위치하도록 함 */
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    /* 애니메이션 효과 추가 */
}

.menu-link--active::before {
    background-color: #333;
}

/* 이전 메뉴와 선택한 메뉴의 밑줄 위치를 애니메이션으로 이동시킴 */
.menu-link--active::before,
.menu-link:hover::before {
    transform: translateX(0%);

}

.menu-link:hover,
.menu-link--active {
    /* background-color: #0077ff; */
    /* border-bottom: 2px solid #fff; */
}